.tags {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  flex-wrap: wrap;
  li {
    background-color: $primary;
    color: #fff;
    padding: 3px 30px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    @media (max-width: 668px) {
      font-size: 10px;
      line-height: 14px;
    }
  }
}
